<%- include('header'); -%>

<div class="container">

    <div class="container-fluid" style="padding-bottom: 20px">
        <h2 style="margin-left:30px"><b>Connect Suggestions</b></h2>

        <div class="container">
        <div class="row align-self-center">
            <div class="col-md-4">
            <div class="card" style="width: 30rem;">
                <div class="friend-img" style="margin-top:12px; margin-bottom:20px">
                <img src="/images/boy.png" class="card-img-top" alt="Cook.io Logo" width=150px>
                </div>
                <div class="card-body">
                <h5 class="card-title"><b>Manuel Rodrigo</b></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary" style="margin-top:15px">Connect</a>
                <a href="#" class="btn btn-primary" style="margin-top:15px; float:right">Dismiss</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 30rem;">
                <div class="friend-img">
                <img src="/images/girl.png" class="card-img-top" alt="Cook.io Logo" width=150px>
                </div>
                <div class="card-body">
                <h5 class="card-title"><b>Miranda Lottie</b></h5>
                <p class="card-text">I love baking desserts of any kind, from cookies to triple layered cakes,
                    I've discovered cool recipes for every dessert you can think of. I'd love to connect with fellow bakers to learn more tips :)</p>
                <a href="#" class="btn btn-primary" style="margin-top:15px">Connect</a>
                <a href="#" class="btn btn-primary" style="margin-top:15px; float:right">Dismiss</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" style="width: 30rem;">
                <div class="friend-img">
                <img src="/images/boy (1).png" class="card-img-top" alt="Boy" width=150px>
                </div>
                <div class="card-body">
                <h5 class="card-title"><b>Joshua Lin</b></h5>
                <p class="card-text">Growing up in Ameriica, I've always wanted to learn more about my Vietnamese roots through our food.
                If you're also passionate about Vietnamese cooking, let's connect!</p>
                <a href="#" class="btn btn-primary" style="margin-top:15px">Connect</a>
                <a href="#" class="btn btn-primary" style="margin-top:15px; float: right">Dismiss</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

</div>