    <div class="jumbotron text-center" style="margin-top:40px; margin-bottom:0px">
      <div class="card-header" style="text-transform: uppercase; letter-spacing: 5px">
        Our inspiration & motto
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>"People who love to eat are always the best people.""</p>
          <footer class="blockquote-footer">Julia Child</footer>
        </blockquote>
      </div>
    </div>