    <div class="jumbotron-text-center" style="margin-top:40px; margin-bottom:0px">
      <div class="card-header" style="text-transform: uppercase; letter-spacing: 5px">
        Our inspiration & motto
      </div>
      <p style="font-size: 20px; margin-top: 15px">-</p>
      <div class="card-body">
          <p style="font-size: 50px; font-family: 'Freestyle Script', Tahoma">"People who love to eat are always the best people."</p>
          <p>- Julia Child -</p>
      </div>
    </div>
