<!--Include navigation bar header-->
<%- include('header'); -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Javascript for homepage -->
    <script src="/javascripts/index.js"></script>
  </body>
</html>
